version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  assignees:
  - 0xERR0R

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
