name: Makefile

on:
  push:
    paths:
      - .github/workflows/makefile.yml
      - Dockerfile
      - Makefile
      - "**.go"
      - "go.*"
      - "helpertest/data/**"
  pull_request:

permissions:
  security-events: write
  actions: read
  contents: read

env:
  GINKGO_PROCS: --procs=1

jobs:
  make:
    name: make
    runs-on: ubuntu-latest
    strategy:
      matrix:
        make: [build, test, race, docker-build, e2e-test, goreleaser, lint]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Download dependencies
        run: go mod download

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: make ${{ matrix.make }}
        run: make ${{ matrix.make }}
        if: matrix.make != 'goreleaser'
        env:
          GO_SKIP_GENERATE: 1

      - name: Upload results to codecov
        uses: codecov/codecov-action@v5
        if: matrix.make == 'test' && github.repository_owner == '0xERR0R'

      - name: Check GoReleaser configuration
        uses: goreleaser/goreleaser-action@v5
        if: matrix.make == 'goreleaser'
        with:
          args: check
